apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oauth2-proxy

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - virtual-service.yaml

generators:
  - secret-generator.yaml