apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - cert-manager.yaml
#  - letsencrypt-issuer.yaml
  - internal-ca-issuer.yaml

generators:
  - secret-generator.yaml