apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

resources:
  - namespace.yaml
  - istio.yaml
  - ingress-class.yaml
  - petclinic-gateway.yaml
#  - petclinic-letsencrypt-certificate.yaml
  - petclinic-internal-ca-certificate.yaml
  - ingressgateway-authn-policy.yaml
  - ingressgateway-authz-policy.yaml

patchesStrategicMerge:
  - patches/delete-egressgateway.yaml